<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='Stylesheet.css') }}">
        <script defer src="{{ url_for('static', filename='ButtonWorker.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcgzo1WK8N1PcYh0JstIFeZxyuiH1sX6LHug&s" />
        <title>QUESTLINES</title>
    </head>
    <body id="body">
        <div class="wrapper">
            <div class="menu">
                <main>
                    <h1 class="items-h1">Questlines</h1>

                    <div class="item-card">
                        <h2 class="item-name"><i>The Mind Of Madness</i></h2>
                        <p class="item-description">Complete this questline to collect <strong>The Wabbajack</strong>.</p>
                        <button class="quest-complete-button" data-quest="The Mind Of Madness" data-item="The Wabbajack">
                            Not Completed 
                        </button>
                    </div>

                    <div class="item-card">
                        <h2 class="item-name"><i>The Break of Dawn</i></h2>
                        <p class="item-description">Complete this questline to collect <strong>Dawnbreaker</strong>.</p>
                        <button class="quest-complete-button" data-quest="The Break of Dawn" data-item="Dawnbreaker">
                            Not Completed 
                        </button>
                    </div>

                    <div class="item-card">
                        <h2 class="item-name"><i>Pieces of the Past</i></h2>
                        <p class="item-description">Complete this questline to collect <strong>Mehrunes' Razor</strong>.</p>
                        <button class="quest-complete-button" data-quest="Pieces of the Past" data-item="Mehrunes' Razor">
                            Not Completed 
                        </button>
                    </div>

                    <div class="item-card">
                        <h2 class="item-name"><i>Boethiah's Calling</i></h2>
                        <p class="item-description">Complete this questline to collect <strong>Ebony Mail</strong>.</p>
                        <button class="quest-complete-button" data-quest="Boethiah's Calling" data-item="Ebony Mail">
                            Not Completed 
                        </button>
                    </div>

                    <div class="item-card">
                        <h2 class="item-name"><i>The Cursed Tribe</i></h2>
                        <p class="item-description">Complete this questline to collect <strong>Volendrung</strong>.</p>
                        <button class="quest-complete-button" data-quest="The Cursed Tribe" data-item="Volendrung">
                            Not Completed 
                        </button>
                    </div>
                </main>
            </div>
        </div>
    </body>
</html>